<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title> 
  <!-- Bootstrap css -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />

   <!-- CSS Style -->
   <link rel="stylesheet" href="css/style.css">

  </head>

<body>
  <div class="banner">
    <nav class="navbar navbar-inverse navbar-expand-lg navbar-dark">

      <div class="container-fluid" style="margin-left: 2em;">
        <a class="navbar-brand" href="#">Student Portal</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item ms-4">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item ms-4">
              <a class="nav-link" href="/about">About Us</a>
            </li>
            <li class="nav-item dropdown ms-4">
              <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Courses
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="Material_c_8">Class 8</a></li>
                <li><a class="dropdown-item" href="Material_c_9">class 9</a></li>
                <li><a class="dropdown-item" href="Material_c_10">class 10</a></li>
              </ul>
            </li>
          </ul>

          <div class="my-lg-0 ms-2 me-2">
            <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button> -->
          </div>
          <div class="my-lg-0 me-2 ms-2">
            <a href="/signup">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Signup</button>
            </a>
          </div> 
         </div>
      </div>
    </nav> 
    
    <div class="container homepage">
      <div class="row content">
        <div class="inner_content">
            <h1>For every student,
                every classroom.
                Real results.</h1>
            <br>
            <p class="Paragraph"> We’re a nonprofit with the mission to provide a free, world-class education for
                anyone, anywhere.</p>
            <br>
            <div class="row">
                <div class="col-4">
                  <a href="/login">
                    <button type="button" class="btn btn-outline-light " href="homepage">Student</button>
                  </a>
                </div>
                <div class="col-4">
                  <a href="/login_p">
                    <button type="button" class="btn btn-outline-light ">Parents</button>
                  </a>
                </div>
                <div class="col-4">
                  <a href="/login_t">
                    <button type="button" class="btn btn-outline-light">Teacher</button>
                  </a>
                </div>
            </div>
        </div>
      </div>
    </div>
    
  </div>
    <!-- Bootstrap Java Script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"></script>
</body>

</html>