<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="css/Material.css" />

    <!-- Bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
</head>

<body>
    <div class="banner">

        <h1> English </h1>

        <div class="container">
            <div class="row heading">
                <div class="col-lg-1"></div>
                <div class="col-lg-2 heading number">
                    <h4>Chapter No.</h4>
                </div>
                <div class="col-lg-5 heading">
                    <h3>Chapter Name</h3>
                </div>

                <div class="col-lg-2 heading">
                    <h3>Solution</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-1 field">
                  <p>1</p>
                </div>
                <div class="col-lg-5">
                  <a href="" class="ref">The Best Christmas Present in the World & The Ant and the Cricket</a>
                </div>
                <div class="col-lg-2">
                  <a href="" class="ref">Solution</a>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-1 field">
                  <p>2</p>
                </div>
                <div class="col-lg-5">
                  <a href="" class="ref">The Tsunami & Geogrsphy Lesson</a>
                </div>
                <div class="col-lg-2">
                  <a href="" class="ref">Solution</a>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-1 field">
                  <p>3</p>
                </div>
                <div class="col-lg-5">
                  <a href="" class="ref">Glimpses of the Past Macavity The Mystery Cat</a>
                </div>
                <div class="col-lg-2">
                  <a href="" class="ref">Solution</a>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-1 field">
                  <p>4</p>
                </div>
                <div class="col-lg-5">
                  <a href="" class="ref">Bepin Choudhury's Lapse of Memory & The Last Bargain</a>
                </div>
                <div class="col-lg-2">
                  <a href="" class="ref">Solution</a>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-1 field">
                  <p>5</p>
                </div>
                <div class="col-lg-5">
                  <a href="" class="ref">The Summit Within & the School Boy</a>
                </div>
                <div class="col-lg-2">
                  <a href="" class="ref">Solution</a>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-1 field">
                  <p>6</p>
                </div>
                <div class="col-lg-5">
                  <a href="" class="ref">This is Jody's Fawn & The Duck and the Kangaroo</a>
                </div>
                <div class="col-lg-2">
                  <a href="" class="ref">Solution</a>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-1 field">
                  <p>7</p>
                </div>
                <div class="col-lg-5">
                  <a href="" class="ref">A visit to Cambridge & When I set out for Lyonnesse</a>
                </div>
                <div class="col-lg-2">
                  <a href="" class="ref">Solution</a>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-1 field">
                  <p>8</p>
                </div>
                <div class="col-lg-5">
                  <a href="" class="ref">A short Monsoon Diary & On the Grasshopper and Cricket </a>
                </div>
                <div class="col-lg-2">
                  <a href="" class="ref">Solution</a>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-1 field">
                  <p>9</p>
                </div>
                <div class="col-lg-5">
                  <a href="" class="ref">The Great Stone Face-I </a>
                </div>
                <div class="col-lg-2">
                  <a href="" class="ref">Solution</a>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-1 field">
                  <p>10</p>
                </div>
                <div class="col-lg-5">
                  <a href="" class="ref">The Great Stone Face-II</a>
                </div>
                <div class="col-lg-2">
                  <a href="" class="ref">Solution</a>
                </div>
            </div>
    </div>

    <!-- Bootstrap Java Script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>

</html>