<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="css/Material.css" />

    <!-- Bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
</head>

<body>
    <div class="banner">

        <h1> Maths </h1>

        <div class="container">
            <div class="row heading">
                <div class="col-lg-1"></div>
                <div class="col-lg-2 heading number">
                    <h4>Chapter No.</h4>
                </div>
                <div class="col-lg-5 heading">
                    <h3>Chapter Name</h3>
                </div>

                <div class="col-lg-2 heading">
                    <h3>Solution</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-1 field">
                  <p>1</p>
                </div>
                <div class="col-lg-5">
                  <a href="" class="ref">Rational Number</a>
                </div>
                <div class="col-lg-2">
                  <a href="" class="ref">Solution</a>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-1 field">
                  <p>2</p>
                </div>
                <div class="col-lg-5">
                  <a href="" class="ref">Linear Equations in one Variable</a>
                </div>
                <div class="col-lg-2">
                  <a href="" class="ref">Solution</a>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-1 field">
                  <p>3</p>
                </div>
                <div class="col-lg-5">
                  <a href="" class="ref">Understanding Quadrilaterals</a>
                </div>
                <div class="col-lg-2">
                  <a href="" class="ref">Solution</a>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-1 field">
                  <p>4</p>
                </div>
                <div class="col-lg-5">
                  <a href="" class="ref">Practical Geometry</a>
                </div>
                <div class="col-lg-2">
                  <a href="" class="ref">Solution</a>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-1 field">
                  <p>5</p>
                </div>
                <div class="col-lg-5">
                  <a href="" class="ref">Data Handling</a>
                </div>
                <div class="col-lg-2">
                  <a href="" class="ref">Solution</a>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-1 field">
                  <p>6</p>
                </div>
                <div class="col-lg-5">
                  <a href="" class="ref">Square and Square Roots</a>
                </div>
                <div class="col-lg-2">
                  <a href="" class="ref">Solution</a>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-1 field">
                  <p>7</p>
                </div>
                <div class="col-lg-5">
                  <a href="" class="ref">Cube and Cube Roots</a>
                </div>
                <div class="col-lg-2">
                  <a href="" class="ref">Solution</a>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-1 field">
                  <p>8</p>
                </div>
                <div class="col-lg-5">
                  <a href="" class="ref">Comparing Quantiles</a>
                </div>
                <div class="col-lg-2">
                  <a href="" class="ref">Solution</a>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-1 field">
                  <p>9</p>
                </div>
                <div class="col-lg-5">
                  <a href="" class="ref">Algebraic Expressions and Identities</a>
                </div>
                <div class="col-lg-2">
                  <a href="" class="ref">Solution</a>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-1 field">
                  <p>10</p>
                </div>
                <div class="col-lg-5">
                  <a href="" class="ref">Visuallising Solid Shape</a>
                </div>
                <div class="col-lg-2">
                  <a href="" class="ref">Solution</a>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-1 field">
                  <p>11</p>
                </div>
                <div class="col-lg-5">
                  <a href="" class="ref">Mensuration</a>
                </div>
                <div class="col-lg-2">
                  <a href="" class="ref">Solution</a>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-1 field">
                  <p>12</p>
                </div>
                <div class="col-lg-5">
                  <a href="" class="ref">Exponets and power</a>
                </div>
                <div class="col-lg-2">
                  <a href="" class="ref">Solution</a>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-1 field">
                  <p>13</p>
                </div>
                <div class="col-lg-5">
                  <a href="" class="ref">Direct and invers Proportions</a>
                </div>
                <div class="col-lg-2">
                  <a href="" class="ref">Solution</a>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-1 field">
                  <p>14</p>
                </div>
                <div class="col-lg-5">
                  <a href="" class="ref">Factorisation</a>
                </div>
                <div class="col-lg-2">
                  <a href="" class="ref">Solution</a>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-1 field">
                  <p>15</p>
                </div>
                <div class="col-lg-5">
                  <a href="" class="ref">Introduction to Graphs</a>
                </div>
                <div class="col-lg-2">
                  <a href="" class="ref">Solution</a>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-1 field">
                  <p>16</p>
                </div>
                <div class="col-lg-5">
                  <a href="" class="ref">Playing with Numbers</a>
                </div>
                <div class="col-lg-2">
                  <a href="" class="ref">Solution</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap Java Script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>

</html>