<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <!-- Bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />

    <!-- CSS only -->
    <link rel="stylesheet" href="css/Material_c.css" />    

    <!-- Font family -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin >
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Roboto:wght@700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/e99f7372e9.js" crossorigin="anonymous"></script>

</head>
<body>
    <h2>Subjects</h2>
    <div  class="container">
        <div class="row">
            <div class="block col-lg-3">
                <h3> Material </h3>
                <br>
                <i class="fa-solid fa-infinity fa-2x"></i>
                <br>
                <br>
                <a href="Material">
                <button class="btn  btn-outline-success sub" value="">Maths</button>
                </a>
            </div>
            <div class="block col-lg-3">
                <h3> Announcement </h3>
                <br>
                <i class="fa-solid fa-flask fa-2x "></i>
                <br>
                <br>
                <a href="upload">
                <button class="btn btn-outline-success sub">Add</button>
                </a>
            </div>
            <div class="block col-lg-3">
                <h3> Attendance </h3>
                <br>
                <i class="fa-solid fa-language fa-2x"></i>
                <br>
                <br>
                <a href="Attendance">
                <button class="btn btn-outline-success sub">Attendance</button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>