<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style1.css">
</head>
<style>
    
</style>
<body>
    <form id="Form" action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="image" id="FILE">
    <button type="submit" id="Submit">Upload</button>
    <label class="form-std-dro"><h4>Standard</h4></label>
    <select name="std" id="STANDARD" required style="width: 30%; height: 40px; border-radius: 7px; font-size: 15px;">
    <option value="standrad">--Select--</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>                     
    </select>
</form>
</body>
</html>